*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(0deg, #000 0%, #000 100%), #000;
}
/* Navbar H2 */
.Finance{
    color:rgba(15, 174, 150, 1);
}
/* NavItem Hover Effect */
.nav-item li:hover{
  color:rgba(15, 174, 150, 1);
}